@base00:#1d1f21;
@base01:#282a2e;
@base02:#373b41;
@base03:#969896;
@base04:#b4b7b4;
@base05:#c5c8c6;
@base06:#e0e0e0;
@base07:#ffffff;
@base08:#cc6666;
@base09:#de935f;
@base0A:#f0c674;
@base0B:#b5bd68;
@base0C:#8abeb7;
@base0D:#81a2be;
@base0E:#b294bb;
@base0F:#a3685a;

html, body {
	color: @base06;
	height: 100%;
	background: @base07;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

#sidebar {
	background-color: @base01;
	width: 250px;
	height: 100%;
	padding: 10px;
	float: left;
	margin-right: 3px;
}
#sidebar>header {
	width: 100%;
};

#sidebar>header>img {
	font-size: 40px;
}
#sidebar>header>img {
	width: 40px;
	float: left;
	margin-right: 5px;
}

#modules {
	background-color: @base00;
	width: auto;
	height: 100%;
	padding: 25px;
	overflow: hidden;
}

#modules>.row {
	margin: -5px;
}

.module {
	height: 200px;
	background-color: @base01;
	line-height: 1;
}

.module>h1 {
	padding-left: 5px;
	font-weight: 100;
}

svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: @base0D;
  stroke-width: 5px;
}

.moduleText {
	width: 100%;
	height: 100px;
	font-size: 100px;
	text-align: center;
}

.greenText {
	color: @base0B;
}

.redText {
	color: @base08;
}

.warnText {
	color: @base09;
}

footer {
	width: 100%;
	height: 40px;
	bottom: 0px;
	text-align: center;
	background: #000;
	position: absolute;
}

.base16 {
	width: 640px;
	margin: 0 auto;
}

.base16>*{ 
	width: 40px; 
	height: 40px; 
	float: left;
	padding: 10px;
	color: #fff;
}

.base00 { background: @base00;}
.base01 { background: @base01;}
.base02 { background: @base02;}
.base03 { background: @base03;}
.base04 { background: @base04;}
.base05 { background: @base05;}
.base06 { background: @base06;}
.base07 { background: @base07;}
.base08 { background: @base08;}
.base09 { background: @base09;}
.base0A { background: @base0A;}
.base0B { background: @base0B;}
.base0C { background: @base0C;}
.base0D { background: @base0D;}
.base0E { background: @base0E;}
.base0F { background: @base0F;}